body {
	margin: 0px;
	background-color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #000000;
	color: #ffffff;
}

section {
	margin-left: 250px;
	border: dashed 1px;
	border-color: #ffffff;
	background-color: #000000;
}
nav  {
	background-attachment: scroll;
	position: fixed;
	background-color: #373940;
	color: #f3f3f6;
	font-size: 0.9em;
	text-align: left;
	float:left;
	width: 250px;
	height: 100%;
	padding: 0px 0px 0px 0px;
}

.nav-button {
	margin: 150px 0px 300px 0px;
}

#intro {
	height: 630px;
	background-image: url("D:/rich-ostrich/image/intro1.jpg");
	font-size: 20px;
	color: #ffffff;
}
.button-intro {
	margin: -70px 200px 100px 450px;
}

.text-intro {
	margin: 0px 200px 100px 230px;
	text-align: center;
}

article {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	border: 1px dashed;
	height: 210px;
}
.article-img {
	float:left;
}
.button {
	background-color: transparent;
    border-radius: 5px;
    border: solid 1px;
    border-color: #828282;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    width: 150px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    height: 30px;
    letter-spacing: normal;
    line-height: 30px;
    position: relative;
    margin: 0 0 10px 0;
}
.ru-ver {
	top: -140px;
	width: 30px;
	margin: 0px 0px 0px 40px ;
}
.en-ver {
	top: -140px;
	width: 30px;
	margin: 0px 0px 0px 40px ;
}

.button:hover {
	border-color: #828282;
    border-radius: 5px;
    border: solid 1px;
    box-shadow: 0px 0px 17px 0px #c3c3c3;
}
#two {
	height: 630px;
}
.head-two {
	margin: 0px 200px 0px 230px;
	text-align: center;
}
.what-we-do-1 {
	border: solid 1px;
	width: 400px;
    height: 200px;
    margin-left: 50px;
    float: left;
    box-sizing: border-box;
    margin: 30px 10px 10px 150px;
    text-align: center;
 }
.what-we-do-2 {
	width: 400px;
    height: 200px;
	border: solid 1px;
    float: left;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 5px;
    margin: 30px 10px 10px 40px;
    text-align: center;
}
.what-we-do-3 {
	width: 400px;
    height: 200px;
	border: solid 1px;
    float: left;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 5px;
    margin: 30px 10px 10px 150px;
    text-align: center;
}
.what-we-do-4 {
	width: 400px;
    height: 200px;
	border: solid 1px;
    float: left;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 5px;
    margin: 30px 10px 10px 40px;
    text-align: center;
}

#three {
	height: 500px;
	text-align: center;
}
.button-form {
	margin-left: -35px;
}
.contact-form {
	font-weight: bold;
}

footer {
	margin-left: 250px;
	border: dashed 1px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
li {
	margin-top: 20px;
}